/* Estilos padrão para computadores (largura mínima de 769px) */
.forms-container {
    margin-top: 10px;
    background-color: #d2dbeb3d;
    height: auto;    
    display: flex;
    flex-direction: column;
  }
  
  .forms-container-title {
    text-align: center;
    color: #ffffff;
    padding-bottom: 2vh;
  }
  
  .forms {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centralizar os cards */
    max-height: calc(5 * (8rem + 20px)); /* Altura máxima de 6 linhas */
    overflow-y: auto; /* Adiciona uma barra de rolagem vertical quando necessário */
  }
  
  .forms-custom-card {
    width: calc(25% - 20px); /* Define a largura máxima de 4 cards por linha */
    margin: 0 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 250px; /* Largura máxima para evitar espaços em branco excessivos */
  }

  .forms-custom-card a {
    width: 100%;
  }
  
  .forms img {
    width: 10rem;
    height: 8rem;
  }
  
  .forms-container h5 {
    font-size: 2ch;
    text-align: center;
  }
     
  .forms::-webkit-scrollbar {
    width: 8px;
  }
  
  .forms::-webkit-scrollbar-thumb {
    background-color: #f8f9fa52;
    border-radius: 5px;
  }
  
  .forms::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  
  /* Estilos para dispositivos móveis (largura máxima de 768px) */
  @media (max-width: 768px) {
    .forms-custom-card {
      width: calc(100% - 20px); /* Define a largura máxima para um card por linha */
    }
  }
  